/* Footer */

/* Bootstrap */

.btn {
  --bs-btn-bg: #2f4f4f !important;
  --bs-btn-color: lightgray !important;
  --bs-btn-border-color: #2f4f4f !important;
  --bs-btn-hover-border-color: rgb(235, 54, 54) !important;
  --bs-btn-hover-bg: red !important;
}

.list-unstyled i {
  color: #2f4f4f !important;
}
