/* Colors */
$primary: lightgray;
$secondary: darkslategray;
$alternative: black;
$text-color: lightgray;
$hover-text-color: rgb(235, 54, 54);
$adventure: rgb(108, 228, 208);
$football: rgb(87, 70, 243);
$action: rgb(224, 54, 54);

/* Spacings */
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

/* Font-family */
$font-principal: Arial, Helvetica, sans-serif;
$font-title: Arial, Helvetica, serif;

/* Font-size */
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;
